* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**fondo index**/
.equipo {
  background-color: #3b3f3f;
  color: #726262;
  padding-top: 5%;
  padding-bottom: 10%;
}

.btn_web {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #0d6efd;
}

.btn_web:hover {
  background-color: #6521a5;
}

/**section3 cards en bootstrap**/
.card_presentacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7%;
  margin-bottom: 7%;
}

/**section4**/
.formulario_contacto {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondoFormulario.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.formulario_contacto h1 {
  font-size: 160%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.formulario_campos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: antiquewhite;
  padding: 40px;
  border-radius: 50px;
  border: solid 2px #64026d;
  margin-bottom: 20px;
}

.formulario_campos label {
  font-size: 20px;
  text-align: center;
  color: black;
  margin: 30px 0px 10px 0px;
}

.formulario_campos input {
  margin: auto;
  border-radius: 20px;
  outline: none;
  border: solid 2px #64026d;
  text-align: center;
  font-size: 15px;
  color: black;
}

.formulario_campos textarea {
  margin: auto;
  border-radius: 20px;
  outline: none;
  border: solid 2px #64026d;
  padding: 20px;
  font-size: 15px;
  color: black;
}

.formulario_campos .send {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: 90px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #0d6efd;
}

.formulario_campos .send:hover {
  background-color: #6521a5;
}

/** imagenes svg en index**/
.imagen_team {
  text-align: center;
}

.imagen_importancia {
  text-align: center;
}

/**imagenes jpg en index**/
.nombre_foto__imagen img {
  border-style: hidden;
  margin-top: 20px;
}

/**imagen en section1**/
.nosotros__imagen {
  display: flex;
  justify-content: right;
}

/**imagen en section2**/
.proyectos__imagen img {
  padding: 20px;
  margin-left: 15px;
}

.imagen_principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80vh;
  background-image: no-repeat;
  background-size: cover;
  background-position: center center;
}

.titulo_hero {
  color: aliceblue;
  font-size: 300%;
}

.bajada_hero {
  color: #fff;
  font-weight: lighter;
}

.imagen_fondo_index {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/hero.jpg);
}

.imagen_fondo_section1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/heroSection1.jpg);
}

.imagen_fondo_section2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/heroSection2.jpg);
}

.imagen_fondo_section3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/heroSection3.jpg);
}

h1 h2 h3 h4 p {
  font-family: 'Roboto', sans-serif;
}

/** texto index.html**/
.presentacion_index p {
  text-align: center;
  padding-top: 60px;
  font-size: 130%;
}

.equipo h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 5%;
  color: aliceblue;
}

.nombre_foto {
  text-align: center;
}

.nombre_foto h2 {
  color: aliceblue;
}

.nombre_foto h3 {
  font-size: 25px;
  color: aliceblue;
}

.nombre_foto h4 {
  font-size: 20px;
  color: aliceblue;
}

.nombre_foto p {
  color: #c7c5c5;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

/**section1**/
.nosotros__texto h3 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
}

.nosotros__texto p {
  text-align: center;
}

/**section2**/
.proyectos__texto {
  width: 70%;
}

.proyectos__texto h3 {
  text-align: center;
  font-size: 18px;
}

.proyectos__texto p {
  text-align: center;
}

/**section1**/
.nosotros__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
}

/**section2**/
.proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

.proyectos__texto .proyectos__boton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #e2e1e1;
}

footer div p {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.imagen_logo img {
  width: 90px;
  padding: 15px;
}

.redes_sociales {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}

.redes_sociales li i {
  font-size: 35px;
  color: #272727;
}

.redes_sociales li i:hover {
  color: #6521a5;
}

/** index**/
.nuestro_equipo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/**section1**/
.nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

/**section2**/
.listado_proyectos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 60px;
}

/**nav bootstrap**/
.nav_web {
  background-color: #e2e1e1;
}

.nav_text {
  font-weight: bold;
}

.nav_text:hover {
  color: #6521a5;
}

/**@media**/
/**estilos tablet**/
@media screen and (max-width: 1023px) {

  /**fuentes imagen principal**/
  .titulo_hero {
    font-size: 180%;
  }

  .bajada_hero {
    font-size: 170%;
  }

  /**Index**/
  .presentacion_index p {
    font-size: 110%;
  }

  .equipo h2 {
    font-size: 170%;
  }

  .equipo p {
    font-size: 110%;
  }

  .nuestro_equipo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .nombre_foto {
    padding-bottom: 7%;
  }

  .nombre_foto h3 {
    font-size: 160%;
  }

  .nombre_foto h4 {
    font-size: 130%;
  }

  .nombre_foto .imagen img {
    width: 40%;
  }

  /**Section1**/
  .nosotros {
    display: flex;
    flex-direction: column;
  }

  .nosotros__texto h3 {
    font-size: 140%;
  }

  .nosotros__texto p {
    font-size: 120%;
  }

  /**Section2**/
  .listado_proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  /**Section3**/
  /**section4**/
  .formulario_campos {
    width: 90%;
    height: 25%;
  }

  /**footer**/
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .imagen_logo {
    display: flex;
    justify-content: center;
  }
}

/**estilos mobile**/
@media screen and (max-width: 479px) {

  /**fuentes imagen principal**/
  .titulo_hero {
    font-size: 130%;
  }

  .bajada_hero {
    font-size: 120%;
  }

  /**Index**/
  .presentacion_index p {
    font-size: 80%;
  }

  .equipo h2 {
    font-size: 150%;
  }

  .equipo p {
    font-size: 90%;
  }

  .nuestro_equipo {
    display: flex;
    flex-direction: column;
  }

  .nombre_foto {
    padding-bottom: 7%;
  }

  .nombre_foto h3 {
    font-size: 130%;
  }

  .nombre_foto h4 {
    font-size: 110%;
  }

  .nombre_foto img {
    width: 80%;
  }

  /**Section1**/
  .nosotros {
    display: flex;
    flex-direction: column;
  }

  .nosotros__texto h3 {
    font-size: 120%;
  }

  /**Section2**/
  .listado_proyectos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  /**Section3**/
  .card_presentacion {
    margin-left: 15%;
  }

  /**section4**/
  .formulario_campos {
    width: 90%;
    height: 25%;
  }

  /**footer**/
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .imagen_logo {
    display: flex;
    justify-content: center;
  }
}

.nombre_foto__imagen img {
  width: 80%;
  border-radius: 15px;
}

.proyectos__imagen img {
  width: 90%;
  border-radius: 35px;
}

.formulario_contacto {
  width: 100%;
  height: 100%;
}

.formulario_contacto input {
  width: 80%;
  height: 30px;
}

.formulario_contacto textarea {
  width: 90%;
  height: 200px;
}

.btn_web {
  padding: 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}