/** imagenes svg en index**/
.imagen_team {
    text-align: center;

}

.imagen_importancia {
    text-align: center;
}

/**imagenes jpg en index**/
.nombre_foto__imagen img {
    border-style: double;
    margin-top: 20px;
}


/**imagen en section1**/
.nosotros__imagen {
    display: flex;
    justify-content: center;
}

/**imagen en section2**/
.proyectos__imagen img {
    padding: 20px;
    margin-left: 15px;
}