.imagen_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80vh;
    background-image: no-repeat;
    background-size: cover;
    background-position: center center;
}

.titulo_hero {
    color: $titulo;
    font-size: $size_titulo;
}

.bajada_hero {
    color: $bajada;
    font-weight: $color_bajada;
}


.imagen_fondo_index {
    background-image: map-get($pallette, tertiary), url(../assets/img/hero.jpg);
}

.imagen_fondo_section1 {
    background-image: map-get($pallette, tertiary), url(../assets/img/heroSection1.jpg);
}

.imagen_fondo_section2 {
    background-image: map-get($pallette, tertiary), url(../assets/img/heroSection2.jpg);
}

.imagen_fondo_section3 {
    background-image: map-get($pallette, tertiary), url(../assets/img/heroSection3.jpg);
}