h1 h2 h3 h4 p {
    font-family: 'Roboto', sans-serif;
}

/** texto index.html**/
.presentacion_index p {
    text-align: center;
    font-size: 130%;
    margin: 5% 10% 0% 10%;

}

.equipo h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 5%;
    color: $titulo;
}

.nombre_foto {
    text-align: center;

    & h2 {
        color: $titulo;
    }

    & h3 {
        font-size: 25px;
        color: $titulo;
        padding-top: 10%;
    }

    & h4 {
        font-size: 20px;
        color: $titulo;
    }

    & p {
        color: $bajadaSuave;
        font-size: 20px;
        padding: 15px;
        text-align: center;

    }
}

/**section1**/
.nosotros__texto h3 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
}

.nosotros__texto p {
    text-align: center;
}

/**section2**/
.proyectos__texto {
    width: 70%;

    & h3 {
        text-align: center;
        font-size: 18px;
    }

    & p {
        text-align: center;
    }
}